@page "/filetransfer"
@inject NavigationManager NavigationManager

<PageTitle>File Transfer</PageTitle>

<h3 class="title">File Transfer</h3>

<div class="transfer-container">
    <MudPaper Width="70%" Style="background-color: #424242">
        <MudList Clickable="true" Style="color: #ffffff;">
            <MudListSubheader Style="color: #ffffff;">
                Overview
            </MudListSubheader>
            <MudListItem Icon="@Icons.Material.Filled.Link">
                <a href="filetransfer#link" target="_top" style="color:white;">Link to Repository</a>
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Info">
                <a href="filetransfer#description" target="_top" style="color:white;">Description</a>
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Outlined.DriveFileMove">
                <a href="filetransfer#options" target="_top" style="color:white;">Instruction List and Uses</a>
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Architecture">
                <a href="filetransfer#instructions" target="_top" style="color:white;">Installation Instructions</a>
            </MudListItem>
        </MudList>
    </MudPaper>
    <div class="git-link" id="link">
        <a  href="https://github.com/pagehm1/File_Transfer">Github Repository Here</a>
    </div>

    <p class="description" id="description">
        File_Transfer is a simple CLI program that allows a user to transfer one or more directories to a specified new folder in another location.
        I created this to make it easier on myself to transfer files to a backup drive without having to copy each individual folder one at a time.
        There are a couple of simple features to make my life easier such as multi-level compression and statistics for the directories that were 
        transferred. Feel free to make any suggestions that could make this program more efficient. Below you will find some documentation on the 
        features, as well as how to install and run the program. If there are any issues you find in the code, or would like to offer any ideas,
        let me know and I would be happy to take them into consideration.
    </p>

    <div class="options" id="options">
        <h1 style="margin-bottom: 30px;">Options:</h1>
        <MudTable Items="@Arguments" Style="margin-bottom: 30px;">
            <HeaderContent>
                <MudTh>Argument Symbol(s)</MudTh>
                <MudTh>Argument Word</MudTh>
                <MudTh>Required</MudTh>
                <MudTh>Description</MudTh>
                <MudTh>Default Value</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Argument Symbol(s)">@context.PrintArgumentLetters()</MudTd>
                <MudTd DataLabel="Argument Word">@context.ArgumentWord</MudTd>
                <MudTd DataLabel="Required">@context.Required</MudTd>
                <MudTd DataLabel="Description">@context.Description</MudTd>
                <MudTd DataLabel="Default Value">@context.DefaultValue</MudTd>
            </RowTemplate>
        </MudTable>
        
        <p class="description"> 
            The only necessary values are at least one source directory and ONLY one destination directory (for now). The rest of the values are optional <br />
            if the user wants the files suppressed. <br />
        </p>
    </div>
    <h1 id="instructions">Installation: </h1>
    <p class="description">
        As of right now, I do not have executable files available for downloading. This may change in the future. For now, the easiest solution I found to setting up the program is shown below: <br />
    </p>
    <MudDivider DividerType="DividerType.FullWidth" Style="height: 5px; background-color: darkgrey; margin-top: 10px;" />
    <p class="description">Download the repository using Github or the `git clone` command if you have git installed on your machine<br /></p>
    <img src="File_Transfer_code.png" class="instruction-pic"/>
    <MudDivider DividerType="DividerType.FullWidth" Style="height: 5px; background-color: darkgrey; margin-top: 10px;" />
    <br />
    <p class="description">
        Open the project using the latest version of Visual Studio or Visual Studio Code<br />
       In Visual Studio, under the 'Build' tab, click on Publish selection. If you are using VS Code, use the `dotnet publish` command, more info for that command <a style="color: blue;" href="https://learn.microsoft.com/en-us/dotnet/core/tools/dotnet-publish">here</a>
    </p>
    <img src="File_Transfer_Build.png" class="instruction-pic" />
    <MudDivider DividerType="DividerType.FullWidth" Style="height: 5px; background-color: darkgrey; margin-top: 10px;" />
    <br/>
    <p class="description">In Visual Studio, select your preferences, and build the program.</p>
    <img src="File_Transfer_Publish.png" class="instruction-pic" />
    <MudDivider DividerType="DividerType.FullWidth" Style="height: 5px; background-color: darkgrey; margin-top: 10px;" />
    <p class="description">An executable should now build in the file location specified when building. If there are any issues while using this guide, let me know and I can add more info as needed.</p>
</div>

@code {
    private void Navigate(string section)
    {
        NavigationManager.NavigateTo(section);
    }

    public List<Argument> Arguments = new List<Argument>
    {
        new Argument(new List<string>{"-c"}, "--compress", false, "decrease destination directory size", "false"),
        new Argument(new List<string>{"-f"}, "--files", true, "directories that are being transferred", null),
        new Argument(new List<string>{"-d"}, "--destination", true, "directory that files are being transferred to", null),
        new Argument(new List<string>{"-s"}, "--stats", false, "provides statistics on the files being transferred", "false"),
        new Argument(new List<string>{"-v"}, "--version", false, "Show version information", null),
        new Argument(new List<string>{"-?", "-h"}, "--help", false, "Show help and usage information", null),
    };
}
